---
BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
PointerAlignment: Left
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
UseTab: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: None
FixNamespaceComments: true
AccessModifierOffset: -4
IndentCaseLabels: false
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
